@import "tailwindcss";

@theme {
  --color-primary: #dc2626;
  --color-primary-hover: #b91c1c;
  --color-accent: #f59e0b;

  --color-bg-page: #f4f6f9;
  --color-bg-surface: #ffffff;
  --color-bg-soft: #eef2f7;

  --color-text-main: #0f172a;
  --color-text-muted: #475569;
  --color-border: #e2e8f0;

  --font-sans: "Inter", "system-ui", "sans-serif";

  --breakpoint-xs: 400px;
}

.dark {
  --color-bg-page: #0f172a;
  --color-bg-surface: #1e293b;
  --color-bg-soft: #273449;

  --color-text-main: #f1f5f9;
  --color-text-muted: #94a3b8;
  --color-border: #334155;
}

/* --- Utilities --- */
@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* --- Global Adjustments --- */
* {
  outline: none;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg-page);
  color: var(--color-text-main);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* --- Animations --- */
@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 4s ease-in-out infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 20px;
  transition: background 0.3s ease;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #dc2626;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}
